@model IEnumerable<NiceWEB.Models.Adding_materialProperty>
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/_Layout.cshtml";
}


<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script src="https://unpkg.com/chart.js@2.8.0/dist/Chart.bundle.js"></script>
<script src="https://unpkg.com/chartjs-gauge@0.3.0/dist/chartjs-gauge.js"></script>
<script src="https://unpkg.com/chartjs-plugin-datalabels@0.7.0/dist/chartjs-plugin-datalabels.js"></script>
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
<script type="text/javascript" src="~/dist/js/gauge.min.js"></script>

<!-- jQuery -->
<script src="~/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- uPlot -->
<script src="~/plugins/uplot/uPlot.iife.min.js"></script>
<!-- AdminLTE App -->
<script src="~/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/dist/js/demo.js"></script>

<div style="display:none;" class="row">
	<div class="form-group">
		
	</div>
</div>

<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0">자재 투입 이력 </h1>
			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="#"></a></li>
					<li class="breadcrumb-item active"></li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-4">

						<div class="form-group">
							<label>조회날짜:</label>

							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<i class="far fa-calendar-alt"></i>
									</span>
								</div>
								<input type="text" class="form-control float-right" id="reservation">
							</div>
							<!-- /.input group -->
						</div>
						<!-- /.form group -->
					</div>
					<div class="col-2">
						<div class="form-group">
							<label>품번:</label>

							@if (ViewBag.product != null)
							{
								@*@Html.DropDownList("productid", new SelectList(ViewBag.product, "Data", "Data"))*@
								@Html.DropDownList("productid", (IEnumerable<SelectListItem>)ViewBag.product, null, new { @class = "form-control" })
							}
						</div>
					</div>
					<div class="col-2">
						<div class="form-group">
							<label>공정:</label>
							
						</div>
					</div>
					<div class="col-2">
						<div class="form-group">
							<label>자재품번:</label>
							
						</div>
					</div>
					<div class="col-2">
						<div class="form-group">
							@*<a class="btn btn-primary" href="@Url.Action("YourAction","YourController")"</a>*@
							<button type="submit" class="btn btn-block btn-secondary">조회</button>
						</div>
					</div>


				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">자재 투입 이력 조회</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body">
						@*<table id="compareplan" class="table table-bordered table-striped">
							</table>*@
						<table class="table table-striped table-bordered table-hover"
							   id="TableId"
							   cellspacing="0"
							   align="center"
							   width="100%" border="1">

							<thead>
								<tr>
									<th scope="col">작업일자</th>
									<th scope="col">품번</th>
									<th scope="col">공정</th>
									<th scope="col">자재 품번</th>
									<th scope="col">투입수량</th>								
								</tr>
							</thead>
							<tbody>
								@foreach (var p in Model)
								{
								<tr>
									<td>@p.TRAN_TIME</td>
									<td>@p.PRODUCT_CODE</td>
									<td>@p.OPERATION_CODE</td>
									<td>@p.CHILD_PRODUCT_CODE</td>
									<td>@p.INPUT_QTY</td>

								</tr>
								}
							</tbody>
						</table>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
			<!-- /.col -->
		</div>
	</div>
</div>


@section Scripts
{

	<script>
		jQuery.noConflict()
		$(function () {
			//Date range picker
			$('#reservation').daterangepicker()

		})
	</script>

	<script type="text/javascript">
		$(document).ready(function () {
			//debugger;
			//alert($('#dataObjCol').val());
			var dataObjCol = JSON.parse($('#dataObjCol').val());
			var dataObjData = JSON.parse($('#dataObjData').val());



			// Datatable settings.
			$('#TableId').DataTable(
				{

					"data": dataObjData,
					"columns": dataObjCol,
					//    { "data": "ORDER_DATE" },
					//    { "data": "WORK_ORDER_ID" },
					//    { "data": "PRODUCT_CODE" },
					//    { "data": "PRODUCT_NAME" },
					//    { "data": "ORDER_QTY" },
					//    { "data": "PRODUCT_QTY" },
					//    { "data": "DEFECT_QTY" },
					//    { "data": "QUALITY_RATE" },
					//    { "data": "DEFECT_RATE" },
					//    { "data": "WORK_CLOSE_TIME" } //데이터가 이렇게 넘어오게 하면 되는 거잖아? 근데 지금은 타이틀도 같이 넘어오는 상태고..그 타이틀은 보여주는 컬럼인가?

					//],
					"bPaginate": false,
					"bFilter": false,
					"bInfo": false,
					"autoWidth": false,
					"bSort": false,
					"columnDefs": [
						{
							"width": "28px",
							"targets": "0",
							"className": "text-right"
						},
						{
							"width": "2px",
							"targets": "1",
							"className": "text-right"
						}
					]
				});
		});
	</script>

}
