@model IEnumerable<NiceWEB.Models.Product>
@using NiceWEB.Html
@using NiceWEB.Models

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/_Layout.cshtml";
}

<div style="display:none;" class="row">
	<div class="form-group">

	</div>
</div>

<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0">제품 재고 조회 </h1>
			</div><!-- /.col -->
			<div class="col-sm-6">
				
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<hr />
<div class="content">
	<div class="container-fluid">
		@using (Html.BeginForm("Index", "Stock", FormMethod.Post, new { @id = "form7" }))
		{
			<div class="row">
				<div class="col-md-12">
					<div class="row">

						<div class="col-4">
							<div class="form-group">

								<label>공정:</label>

								@Html.DropDownList("opCode",
							(IEnumerable<SelectListItem>)ViewBag.Categories, null, new { @class = "form-control" })
							</div>
						</div>
						<div class="col-4">
							<div class="form-group">
								<label>자재품번:</label>
								@Html.DropDownList("productCode",
											   (IEnumerable<SelectListItem>)ViewBag.Categories2, null, new { @class = "form-control" })

							</div>
						</div>

						<div class="col-4">
							<div class="form-group">
								<label>&nbsp;  </label>
								<button type="submit" class="btn btn-block btn-secondary">조회</button>

							</div>
						</div>

					</div>
				</div>
			</div>
		}
		<div class="row">
			<div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">제품 재고 조회</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                           <table class="table table-bordered table-hover">
                               <thead>
                                   <tr>
                                       <th>LOT명</th>
                                       <th>LOT 설명</th>
                                       <th>품번</th>
                                       <th>공정 코드</th>
                                       <th>창고 코드</th>
                                       <th>LOT 수량</th>
                                       <th>LOT 생성 시 수량</th>
                                       <th>LOT 공정 투입 수량</th>
                                       <th>LOT 작업 시작 수량</th>
                                       <th>작업 시작 수량</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   @if (Model != null)
                                   {
                                       foreach (var p in Model)
                                       {

                                   <tr data-widget="expandable-table" aria-expanded="false">
                                       <td>@p.LOT_ID</td>
                                       <td>@p.LOT_DESC</td>
                                       <td>@p.PRODUCT_CODE</td>
                                       <td>@p.OPERATION_CODE</td>
                                       <td>@p.STORE_CODE</td>
                                       <td>@p.LOT_QTY</td>
                                       <td>@p.CREATE_QTY</td>
                                       <td>@p.OPER_IN_QTY</td>
                                       <td>@p.START_FLAG</td>
                                       <td>@p.START_QTY</td>
                                   </tr>
                                           <tr class="expandable-body">
                                               <td colspan="10">
                                                   <p>
                                                       <table class="table table-bordered">
                                                           <thead>
                                                               <tr>

                                                                   <th>시작 시간</th>
                                                                   <th>시작 공정 코드</th>
                                                                   <th>품번</th>
                                                                   <th>공정 코드</th>
                                                                   <th>창고 코드</th>
                                                                   <th>LOT 수량</th>
                                                                   <th>LOT 생성 시 수량</th>
                                                                   <th>LOT 공정 투입 수량</th>
                                                                   <th>LOT 작업 시작 수량</th>
                                                                   <th>작업 시작 수량</th>

                                                               </tr>
                                                           </thead>
                                                           <tbody>
                                                               <tr>
                                                                   <td>@p.START_TIME</td>
                                                                   <td> @p.START_EQUIPMENT_CODE</td>
                                                                   <td>@p.PRODUCT_CODE</td>
                                                                   @*<td>@p.OPERATION_CODE</td>*@
                                                                   <td>@p.STORE_CODE</td>
                                                                   <td>@p.LOT_QTY</td>
                                                                   <td>@p.CREATE_QTY</td>
                                                                   <td>@p.OPER_IN_QTY</td>
                                                                   <td>@p.START_FLAG</td>
                                                                   <td>@p.START_QTY</td>
                                                               </tr>
                                                           </tbody>

                                                           @*<tr>시작시간 : @p.START_TIME</tr>

            @p.START_EQUIPMENT_CODE
            @p.END_FLAG
            @p.END_TIME
            @p.END_EQUIPMENT_CODE
            @p.SHIP_FLAG
            @p.SHIP_CODE
            @p.SHIP_TIME
            @p.PRODUCTION_TIME
            @p.CREATE_TIME
            @p.OPER_IN_TIME
            @p.WORK_ORDER_ID
            @p.LOT_DELETE_FLAG
            @p.LOT_DELETE_TIME
            @p.LAST_TRAN_CODE
            @p.LAST_TRAN_TIME
            @p.LAST_TRAN_USER_ID
            @p.LAST_TRAN_COMMENT
            @p.LAST_HIST_SEQ*@
                                                       </table>
                                                   </p>
                                               </td>
                                           </tr>
                                   }
                               }
                               </tbody>
                           </table>
                            </div>
                    <!-- /.card-body -->

                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            @Html.PageLinks((PagingInfo)ViewBag.PagingInfo, (x) => Url.Action("Index",
                                new { page = x, opCode = ViewBag.opCode, productCode = ViewBag.productCode }))
                        </ul>
                    </nav>

                </div>
				<!-- /.card -->
			</div>
			<!-- /.col -->
		</div>



	</div>


</div>

