@model IEnumerable<NiceWEB.Models.Inspect>
@using NiceWEB.Html
@using NiceWEB.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}



<div style="display:none;" class="row">
    <div class="form-group">
        @*@Html.HiddenFor(m => m.Columns, new { @id = "dataObjCol", placeholder = Html.DisplayNameFor(m => m.Columns), @class = "form-control" })
            @Html.HiddenFor(m => m.Data, new { @id = "dataObjData", placeholder = Html.DisplayNameFor(m => m.Data), @class = "form-control" })*@
    </div>
</div>

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">검사 데이터 조회</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="content">
    <div class="container-fluid">
        @using (Html.BeginForm("Index", "Inspect", FormMethod.Post, new { @id = "form4" }))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-4">

                            <div class="form-group">
                                <label>조회날짜:</label>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control float-right" id="reservation">
                                    <input type="hidden" name="startDate" id="startDate" />
                                    <input type="hidden" name="endDate" id="endDate" />

                                </div>
                                <!-- /.input group -->
                            </div>
                            <!-- /.form group -->
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label>품번 : </label>
                                @Html.DropDownList("prdCode",
                         (IEnumerable<SelectListItem>)ViewBag.prodList, null, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label>공정 : </label>
                                @Html.DropDownList("operCode",
(IEnumerable<SelectListItem>)ViewBag.operList, null, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label>LOT ID : </label>
                                @Html.TextBox("LotID", null, null, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label>&nbsp;  </label>
                                <button type="button" id="saveBtn" class="btn btn-block btn-secondary">조회</button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">검사 데이터 조회</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        @*<table id="compareplan" class="table table-bordered table-striped">
                            </table>*@
                        <table class="table table-striped table-bordered table-hover"
                               id="TableId"
                               cellspacing="0"
                               align="center"
                               width="100%" border="1">

                            <thead>
                                <tr>
                                    <th scope="col">검사일시</th>
                                    <th scope="col">LOT ID</th>
                                    <th scope="col">품번</th>
                                    <th scope="col">품명</th>
                                    <th scope="col">공정명</th>
                                    <th scope="col">검사항목</th>
                                    <th scope="col">검사항목명</th>
                                    <th scope="col">값 유형</th>
                                    <th scope="col">LSL</th>
                                    <th scope="col">Target</th>
                                    <th scope="col">USL</th>
                                    <th scope="col">검사 데이터</th>
                                    <th scope="col">검사자</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var p in Model)
                                {
                                    <tr>
                                        <td>@p.TRAN_TIME</td>
                                        <td>@p.LOT_ID</td>
                                        <td>@p.PRODUCT_CODE</td>
                                        <td>@p.PRODUCT_NAME</td>
                                        <td>@p.OPERATION_NAME</td>
                                        <td>@p.INSPECT_ITEM_CODE</td>
                                        <td>@p.INSPECT_ITEM_NAME</td>
                                        <td>@p.VALUE_TYPE</td>
                                        <td>@p.SPEC_LSL</td>
                                        <td>@p.SPEC_TARGET</td>
                                        <td>@p.SPEC_USL</td>
                                        <td>@p.INSPECT_VALUE</td>
                                        <td>@p.TRAN_USER_ID</td>
                                    </tr>

                                }
                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->

                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            @Html.PageLinks((PagingInfo)ViewBag.PagingInfo, (x) => Url.Action("Index",
                                new { page = x, LotID = ViewBag.LotID, startDate = ViewBag.startDate, endDate = ViewBag.endDate, workID = ViewBag.workID, prdCode = ViewBag.prdCode }))
                        </ul>
                    </nav>

                </div>
                <!-- /.card -->

            </div>
            <!-- /.col -->

        </div>

    </div>

</div>

@{
    

    string start = ViewBag.startDate;
    string end = ViewBag.endDate;
}


@section Scripts
{

    <script type="text/javascript">
        jQuery.noConflict()
        var startDate;
        var endDate;

        $(document).ready(function () {
            $('#reservation').daterangepicker(
                {
                      locale: {
                        format: 'YYYY-MM-DD'
                    },
                    @*setStartDate:@ViewBag.startDate,
                    setEndDate:@ViewBag.endDaendDate,*@
                    //startDate: moment().subtract('days', 29),
                    //endDate: moment(),
                    //startDate: a,
                    //endDate: b,
                    startDate: '@start',
                    endDate:'@end',
                    showDropdowns: true,
                    showWeekNumbers: true,
                    timePicker: false,
                    timePickerIncrement: 1,
                    timePicker12Hour: true,
                    opens: 'left',
                    format: 'YYYY-MM-DD',
                    separator: ' to ',
                },
                function (start, end) {
                    console.log("Callback has been called!");
                    $('#reservation span').html(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
                    startDate = start;
                    endDate = end;

                }
            );

            $('#saveBtn').click(function () {
                console.log(startDate.format('YYYY-MM-DD') + ' - ' + endDate.format('YYYY-MM-DD'));
                $('#startDate').val(startDate.format('YYYY-MM-DD'));
                $('#endDate').val(endDate.format('YYYY-MM-DD'));
                $('#form4')[0].submit();
            });





        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            //debugger;
            //alert($('#dataObjCol').val());
            var dataObjCol = JSON.parse($('#dataObjCol').val());
            var dataObjData = JSON.parse($('#dataObjData').val());



            // Datatable settings.
            $('#TableId').DataTable(
                {

                    "data": dataObjData,
                    "columns": dataObjCol,
                    //    { "data": "ORDER_DATE" },
                    //    { "data": "WORK_ORDER_ID" },
                    //    { "data": "PRODUCT_CODE" },
                    //    { "data": "PRODUCT_NAME" },
                    //    { "data": "ORDER_QTY" },
                    //    { "data": "PRODUCT_QTY" },
                    //    { "data": "DEFECT_QTY" },
                    //    { "data": "QUALITY_RATE" },
                    //    { "data": "DEFECT_RATE" },
                    //    { "data": "WORK_CLOSE_TIME" } //데이터가 이렇게 넘어오게 하면 되는 거잖아? 근데 지금은 타이틀도 같이 넘어오는 상태고..그 타이틀은 보여주는 컬럼인가?

                    //],
                    "bPaginate": false,
                    "bFilter": false,
                    "bInfo": false,
                    "autoWidth": false,
                    "bSort": false,
                    "columnDefs": [
                        {
                            "width": "28px",
                            "targets": "0",
                            "className": "text-right"
                        },
                        {
                            "width": "2px",
                            "targets": "1",
                            "className": "text-right"
                        }
                    ]
                });
        });
    </script>

}
